01_Linea_de_comandos/todos.psv
berka/data/account.asc berka/data/card.asc berka/data/client.asc berka/data/disp.asc berka/data/district.asc berka/data/loan.asc berka/data/order.asc berka/data/trans.asc
